{{!-- <div class="container well"> --}}
    <center>
    {{!-- <div class="row"> --}}
        {{!-- <div class="col-sm-12"> --}}
            {{!-- <h3><strong>Invite Code:</strong></h3>
            <i><input type="text" value="{{invite_code}}" class="form-control" id="invite_code" readonly></i>
        </div>
    </div>
    <br>
    <div id="share"></div> --}}
    <div style="padding-top:50px">
    <img style="background-color: gray; width:5px; height:5px" src="http://localhost:3000/analytics/email/timespent/1232323232323" />
    <span style="font-size: 0.9em; font-weight:500">Pixel</span>
    </div>
    </center>
{{!-- </div> --}}